body {
  font-family: Arial;
  text-align: center;
}

#app {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 2px solid #444;
  border-radius: 8px;
}

#timer {
  font-size: 40px;
  margin: 20px 0;
}
